{% extends "base.html" %}
{% from "category_icon.html" import category_icon %}

{% block title %}Posts &mdash; {{ SITENAME }}{% endblock %}

{% block content %}
<div class="page-intro">
  <p>
    Notes, technical deep dives, project logs, and observations. For unpolished concepts and future seedlings, see <a href="{{ SITEURL }}/ideas.html">Ideas &rarr;</a>
  </p>
</div>

<ul class="post-list">
  {% for article in dates if article.type != 'IDEA' %}
  <li class="post-item">
    <div class="post-header-row">
      <div class="post-header-left">
        {% if article.category %}
        {{ category_icon(article.category, article.author) }}
        {% endif %}
        <h2 class="post-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
      </div>
      <div class="post-header-right">
        {% if article.type %}
        <span class="post-type">{{ article.type|upper }}</span>
        {% endif %}
        <time datetime="{{ article.date.strftime('%Y-%m-%d') }}">{{ article.date.strftime('%b %y') }}</time>
      </div>
    </div>
    {% if article.summary %}
    <p class="post-desc">
      {{ article.summary|striptags }}
    </p>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock %}
